:root {
    --dark-background-color: #1F2937;

    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --button-color: #3882F6;
    --info-header-text: #1F2937;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {

    background-color: var(--dark-background-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo {
    color: var(--main-text);
    font-size: 24px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    font-size: 18px;
    color: var(--secondary-text);
    list-style-type: none;
    padding: 0 0.5rem;
}

.hero-container {
    background-color: var(--dark-background-color);
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--dark-background-color);
    width: 80%;
    margin: 0 auto;
    padding: 6rem 0;
    height: 35rem;
}
.hero > div {
    flex: 1 1 0;
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; */
    height: 16rem;
}
.hero h1 {
    color: var(--main-text);
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}
.hero p {
    color: var(--secondary-text);
    font-size: 18px;
    margin: 0.3rem;
    margin-bottom: 0.7rem;
}
.hero button {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: var(--button-color);
    border-color: var(--button-color);;
    color: var(--secondary-text);
    font-weight: bold;
}
.hero img {
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: cover;
}

/* INFORMATION */
.info {
    width: 85%;
    margin: 2rem auto 6rem;
}
.info > h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: var(--info-header-text);
    margin: 3rem 0;
}
.images {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.images > div {
    display: flex;
    flex-direction: column;

    max-width: 10rem;
    align-items: center;
}
.images > div p {
    text-align: center;
}
.img-container {
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid var(--button-color);
}
.images img {
    width: 100%;
}

/* Quote */
.quote {
    background-color: var(--secondary-text);
    padding: 5rem 0;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
.quote > div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 65%;
    margin: 0 auto;
}
.quote span {
    align-self: flex-end;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    padding-right: 1rem;
}

/* Call to Action */
.call-to-action {
    margin: 5rem auto;
    background-color: var(--button-color);
    width: 70%;
    border-radius: 10px;
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.call-to-action div {
    flex: 4 1 0;
}
.call-to-action h5 {
    font-weight: 800;
    color: var(--main-text);
    font-size: 18px;
    margin: 0.3rem 0;
}
.call-to-action p {
    color: var(--main-text);
    margin: 0.3rem 0;
}
.call-to-action button {
    border: 2px solid var(--main-text);
    border-radius: 10px;
    background-color: transparent;
    color: var(--main-text);
    font-weight: bold;
    flex: 1 1 0;
    padding: 0.5rem;
}
